expose:
  tls:
    certSource: secret
  ingress:
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls.certresolver: main
    hosts:
      core: {{ .Values.harbor.hostname }}
externalURL: https://{{ .Values.harbor.hostname }}
harborAdminPassword: {{ .Values.harbor.initial_password }}
trivy:
  enabled: false
notary:
  enabled: false
